.card-item-admin{
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    height: 60px;
}

.item-text{
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.015em;
        color: #263238;
}

.btn-styles{
    width: 100px;
    height: 40px;
    justify-content:center;
    align-items: center;
}